{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.1544827763394!2d16.28003531571335!3d48.17927167923046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d0745fae10a07%3A0x9ca8b1a637945731!2sMusterstra%C3%9Fe%20123%2C%201230%20Wien!5e0!3m2!1sen!2sat!4v1655783015312!5m2!1sen!2sat" width="100%" height="450" style="border: none;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>