<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h4>Mein Büro</h4>
            <p>Musterstraße 123</p>
            <p>1230 Wien</p>
            <p>Österreich</p>
            <p><strong>Wegbeschreibungen:</strong></p>
            <ol>
                <li>Nehmen Sie die U-Bahnlinie U4 Richtung "Hütteldorf".</li>
                <li>Steigen Sie an der Station "Ober St. Veit" aus.</li>
                <li>Gehen Sie auf der Hietzinger Hauptstraße in Richtung Stadtzentrum.</li>
                <li>Biegen Sie links in die Musterstraße ab.</li>
                <li>Mein Büro befindet sich auf der rechten Seite, gegenüber von "Mustercafe".</li>
            </ol>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.1544827763394!2d16.28003531571335!3d48.17927167923046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d0745fae10a07%3A0x9ca8b1a637945731!2sMusterstra%C3%9Fe%20123%2C%201230%20Wien!5e0!3m2!1sen!2sat!4v1655783015312!5m2!1sen!2sat" width="100%" height="450" style="border: none;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>