
<div class="coodle_dashboard">
	<div class="row">
		<main role="main" class="col-md-12 col-lg-12 my-3">
			<div class="mb-4">
				<div class="btn btn-primary" data-action="coodle-user_create_form">{{#str}} add_new_user, local_coodle {{/str}}</div>
				<div class="btn btn-primary" data-action="coodle-create_coodle_user_form">{{#str}} adduserfromplatform, local_coodle {{/str}}</div>
				<div class="btn btn-primary" data-action="coodle-create_advisor_form">{{#str}} addadvisor, local_coodle {{/str}}</div>
			</div>
			<div class="projects mb-4">
				<div class="projects-inner">
					<header class="projects-header">
						<div class="title">Ongoing Clients</div>
						<div class="count">| {{count}} Clients</div>
						<i class="zmdi zmdi-download"></i>
					</header>
					<table class="projects-table">
						<thead>
							<tr>
								<th>registered since</th>
								<th>User</th>
								<th>Advisor</th>
								<th style="width: 300px">Login</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						{{#users}}
						<tr>
							<td>
								<p>{{userdatecreated}}</p>

							</td>
							<td class="member">
								<figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png" /></figure>
								<div class="member-info">
									<p>{{clientfirstname}} <b>{{clientlastname}}</b></p>
									<p>WIEN</p>
								</div>
							</td>
							<td> {{#advisorfirstname}}
								<p>{{advisorfirstname}} <b>{{advisorlastname}}</b></p>
<a class="btn btn-primary" href="{{config.wwwroot}}/course/view.php?id={{courseid}}"><i class="fa fa-home" aria-hidden="true"></i></a><p></p>
							{{/advisorfirstname}}
							{{^advisorfirstname}}
							<a class="btn btn-primary" href="{{config.wwwroot}}/course/view.php?id={{courseid}}"><i class="fa fa-user-plus" aria-hidden="true"></i>
							</a><p></p>
							{{/advisorfirstname}}


							</td>
							<td class="status">
								<span>{{{qrcode}}}</span>
							</td>
							<td class="text-right">
								<i class="fa fa-cog" aria-hidden="true"></i>
							</td>
						</tr>
						<tr>
						{{#todos}}
						{{/todos}}
						<td colspan="100%">
							<span class="toggler"
							data-toggle="collapse"
							data-target="{{id}}"
							data-text="Collapse"><i class="fa fa-chevron-down fa-2x mr-2" aria-hidden="true"></i></span>
							<span class="" data-action="local-coodle-add-todo"><i class="fa fa-plus fa-2x text-success" aria-hidden="true"></i></span></td>
						</tr>
						<tr class="text-light bg-light todos" data-clientid="{{id}}">
							<td colspan="4">JSDJASDAJSDHKJAS D Hakerl Delete</td>
							<td class="text-right">
								<i class="fa fa-check-square-o fa-2x text-success mr-2" aria-hidden="true"></i>
								<i class="fa fa-times fa-2x text-danger" aria-hidden="true"></i>
							</td>
						</tr>
						<tr class="text-light bg-light todos" data-clientid="{{id}}">
							<td colspan="4">JSDJASDAJSDHKJAS D Hakerl Delete</td>
							<td class="text-right" >
								<i class="fa fa-check-square-o fa-2x text-success mr-2" aria-hidden="true"></i>
								<i class="fa fa-times fa-2x text-danger" aria-hidden="true"></i>
							</td>
						</tr>
						<tr class="text-light bg-light todos" data-clientid="{{id}}">
							<td colspan="4">JSDJASDAJSDHKJAS D Hakerl Delete</td>
							<td class="text-right">
								<i class="fa fa-check-square-o fa-2x text-success mr-2" aria-hidden="true"></i>
								<i class="fa fa-times fa-2x text-danger" aria-hidden="true"></i>
							</td>
						</tr>
						{{/users}}
					</table>
				</div>
			</div>
		</main>
	</div>
</div>

<style>
	.coodle_dashboard .todos td{
		color: #161616;

	}
	[name="todotext"] {
		width: 90% !important;
	}

	.qrcode {
		border: 10px solid #fff;
		background: #fff;
	}
</style>

{{#js}}
require([
	'local_coodle/user_create_form',
  	'local_coodle/create_advisor_form',
  	'local_coodle/add_todo_form'],
  	function(userform, advisorform, todoform
	) {
		userform.init();
		advisorform.init();
		todoform.init();
});
{{/js}}
