<div class="container">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="{{config.wwwroot}}/local/coodle/pix/DigifondsGefoerdert.jpg" class="img-responsive" alt="Image 1">
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <img src="{{config.wwwroot}}/local/coodle/pix/wuk.png" class="img-responsive" alt="Image 2">
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <img src="{{config.wwwroot}}/local/coodle/pix/wunderbyte.png" class="img-responsive" alt="Image 3">
      </div>
    </div>
</div>
