{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<h1>adasdasd</h1>
<table class="w-100">
{{#.}}
	<tr class="bg-light todos" data-clientid="{{userid}}">
		<td class="text-dark" colspan="1">{{userid}}</td>
		<td class="text-dark" colspan="4">{{text}}</td>
		<td class="text-right">
			<button class="btn btn-primary-outline" data-action="local-coodle-todo-check" data-id="{{id}}">
			<i class="fa fa-check-square-o fa-2x text-success " aria-hidden="true" data-action="local-coodle-todo-check" data-id="{{id}}"></i>
			</button>
			<button class="btn btn-primary-outline" data-action="local-coodle-todo-delete" data-id="{{id}}" >
			<i class="fa fa-times fa-2x text-danger" aria-hidden="true" data-action="local-coodle-todo-delete" data-id="{{id}}"></i>
			</button>
		</td>
	</tr>
{{/.}}
</table>


<style>
	.coodle_dashboard .todos td{
		color: #161616;

	}
	[name="todotext"] {
		width: 90% !important;
	}

	.qrcode {
		border: 10px solid #fff;
		background: #fff;
	}
</style>

{{#js}}
require([
	'local_coodle/user_create_form',
  	'local_coodle/create_advisor_form',
  	'local_coodle/add_todo_form',
	'local_coodle/todo'
	],
  	function(userform, advisorform, todoform, todo, links
	) {
		userform.init();
		advisorform.init();
		todoform.init();
		todo.init();
});
{{/js}}
