<ul class="list-group">
    {{#dates}}
      <li class="list-group-item"><a href="{{url}}">{{name}}</a><span class="pull-right" data-action="cancel-date">
                    <i class="fa fa-times fa-2x text-danger" aria-hidden="true" data-action="cancel-date" data-id="{{id}}"></i>
      </span></li>
    {{/dates}}
</ul>