<ul class="list-group">
  {{#files}}
    <li class="list-group-item"><a href="{{url}}">{{name}}</a></li>
  {{/files}}
</ul>

{{#js}}
require(['local_coodle/add_file'], function(fileform) {
    fileform.init();
});
{{/js}}
