<footer class="py-4" style="border: 1px solid #282829;
    margin: 0 -15px;">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 text-center"><a href="https://arbeiterkammer.at/digitalisierungsoffensive" target="_blank">
        <img style="max-height: 300px;" src="https://wuk.wunderbyte.at/pluginfile.php/16/mod_folder/content/0/DigifondsGefoerdert.jpg" alt="Gefördert von Digifonds AK Wien"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.wuk.at" target="_blank">
                <img style="max-height: 140px;" src="https://wuk.wunderbyte.at/pluginfile.php/16/mod_folder/content/0/wuk-logo-300x300.png?forcedownload=1" alt="WUK Logo">
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.wunderbyte.at" target="_blank">
        <img style="max-height: 60px;" src="https://wuk.wunderbyte.at/pluginfile.php/16/mod_folder/content/0/Logotype_Farbe-positiv.png" alt="Wunderbyte Logo"></a>
      </div>
    </div>
  </div>
</footer>