<div class="container">
    <h1>Need Help?</h1>
    <p>Our team is here to assist you with any questions or concerns you may have.</p>
    <p>Check out our FAQ section for answers to common questions, or contact us directly for personalized support.</p>
    <hr>
    <h2>FAQ</h2>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Wie erstelle ich einen User
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, beatae. Dolorem ipsum ea perspiciatis amet ducimus est dolorum architecto inventore soluta voluptas! A, dignissimos similique corporis aspernatur nam asperiores porro!
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Wie erstelle ich ein Todo
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, beatae. Dolorem ipsum ea perspiciatis amet ducimus est dolorum architecto inventore soluta voluptas! A, dignissimos similique corporis aspernatur nam asperiores porro!
                </div>
            </div>
        </div>
    </div>
</div>