<div data-region="coodle-msg-buttons">
<button class="btn btn-link btn-icon icon-size-3 ml-1 mt-auto" aria-label="Audio" data-action="local-coodle-send-audio" data-clientid="{{clientid}}"><span data-region="send-icon-container"><i class="fa fa-microphone" aria-hidden="true"></i></span></button>
<button class="btn btn-link btn-icon icon-size-3 ml-1 mt-auto" aria-label="Add File" data-action="local-coodle-add-file" data-doctype="3" data-sendmsg="true" data-clientid="{{clientid}}"><span data-region="send-icon-container"><i class="fa fa-file-o" aria-hidden="true"></i></span></button>
</div>