{{!
  This file is part of Moodle - http://moodle.org/
  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<ion-content fullscreen="true">
    <ion-slides pager="true" [options]="slideOptions" class="slide-container">
        {{#adresses}}
        <ion-slide class="slide-item">
            <!-- Your dynamic content goes here -->
            <h2>{{ title }}</h2>
            <div>{{ content }}</div>
        </ion-slide>
        {{/adresses}}
        <ion-slide class="slide-item">
            <ol>
                <li>Nehmen Sie die U-Bahnlinie U4 Richtung "Hütteldorf".</li>
                <li>Steigen Sie an der Station "Ober St. Veit" aus.</li>
                <li>
                    Gehen Sie auf der Hietzinger Hauptstraße in Richtung
                    Stadtzentrum.
                </li>
                <li>Biegen Sie links in die Musterstraße ab.</li>
                <li>
                    Mein Büro befindet sich auf der rechten Seite, gegenüber von
                    "Mustercafe".
                </li>
            </ol>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d530670.6011018459!2d16.23972216858144!3d48.202635001837614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d075e9b8f01d3%3A0x2e6c43d6d77b6ab9!2sVienna%2C%20Austria!5e0!3m2!1sen!2sus!4v1647742052004!5m2!1sen!2sus"
                width="100%"
                height="400"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
            ></iframe>
        </ion-slide>
    </ion-slides>
</ion-content>

<style>
    .slide-container {
        height: 100%;
    }

    .slide-item {
        height: 100%;
    }
</style>
