{{=<% %>=}}
<ion-grid class="container mt-4">
    <ion-row class="row">
      <ion-col class="col-md-12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>My Files</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h4>From Advisor</h4>
            <core-file  [file]="{fileurl: '<%otherfiles.0.url%>',
              filename: '<%otherfiles.0.name%>'}"
              canDownload = "true">
            </core-file>
            <core-file  [file]="{fileurl: '<%otherfiles.1.url%>',
              filename: '<%otherfiles.1.name%>'}"
              canDownload = "true">
            </core-file>
            <core-file  [file]="{fileurl: '<%otherfiles.2.url%>',
              filename: '<%otherfiles.2.name%>'}"
              canDownload = "true">
            </core-file>
          </ion-card-content>
        </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
