{{!
  This file is part of Moodle - http://moodle.org/
  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="container">
    <div class="row">
    <div class="col-md-4 coodle-msg">
        <h3>{{name}}</h3>
        <div>
            {{{widget}}}
        </div>
    </div>
    <div class="col-md-8">
        <div class="card linetrough bg-warning text-white mb-4">
            <div class="card-body">
              <h5 class="card-title">Termine</h5>
              <ul>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
              </ul>
            </div>
        </div>
    <div class="card mb-4 coodle-dashboard">
            <div class="card-body">
              <h5 class="card-title">Todos <button class="btn btn-primary-outline myuserbtn" data-action="local-coodle-add-todo" data-clientid="{{clientid}}">
                <i class="fa fa-plus fa-2x text-success" aria-hidden="true" data-action="local-coodle-add-todo" data-clientid="{{clientid}}"></i>
            </button>
        </h5>
              <div>{{>local_coodle/todos}}</div>
            </div>
        </div>
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
              <h5 class="card-title">Dokumente <button class="btn btn-dark myuserbtn" data-toggle="modal" data-target="#uploadForm" data-action="local-coodle-add-file" data-clientid="{{clientid}}" data-doctype="1">Upload File</button>
              </h5>
              <ul class="list-group" id="files1-{{uniqid}}">
              {{#files.1}}
                {{>local_coodle/files}}
              {{/files.1}}
              </ul>
            </div>
        </div>
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
              <h5 class="card-title">Bewerbungsunterlagen
                <button class="btn btn-dark myuserbtn" data-toggle="modal" data-target="#uploadForm" data-action="local-coodle-add-file" data-clientid="{{clientid}}" data-doctype="2">Upload File</button>
              </h5>
              <ul class="list-group" id="files2-{{uniqid}}">
                {{#files.2}}
                  {{>local_coodle/files}}
                {{/files.2}}
              </ul>
            </div>
        </div>
        <div class="card bg-secondary mb-4">
            <div class="card-body">
              <h5 class="card-title">Beratungsinhalt
                <button class="btn btn-dark myuserbtn" data-toggle="modal" data-target="#uploadForm" data-action="local-coodle-add-file" data-clientid="{{clientid}}" data-doctype="3">Upload File</button>
              </h5>
              <ul class="list-group" id="files3-{{uniqid}}">
                {{#files.3}}
                  {{>local_coodle/files}}
                {{/files.3}}
              </ul>
            </div>
        </div>
        <div class="card bg-secondary mb-4">
          <div class="card-body">
            <h5 class="card-title">User Files
              <button class="btn btn-dark myuserbtn" data-toggle="modal" data-target="#uploadForm" data-action="local-coodle-add-file" data-clientid="{{clientid}}" data-doctype="4">Upload File</button>
            </h5>
            {{#files.4}}
            <div>{{>local_coodle/files}}</div>
            {{/files.4}}
          </div>
      </div>
        <div class="card linetrough bg-info text-white mb-4">
            <div class="card-body">
              <h5 class="card-title">Linksammlung</h5>
              {{{links}}}
            </div>
        </div>
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">
              <h5 class="card-title">Wegbeschreibungen</h5>
              {{{directions}}}
            </div>
        </div>
        </div>
    </div>
</div>


<style>
.coodle-msg .conversationcontainer,.coodle-msg [data-region="header-content"] {
    visibility: hidden !important;
    width: 0px;
    height: 0px;
}
.coodle-msg .container-fluid {
    max-width: 100%;
    padding: 0;
}
.coodle-msg .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
}
.coodle-msg .border-bottom {
}
.coodle-msg .col-8.d-flex.flex-column {
    height: 100%;
}

.myuserbtn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.linetrough {
  background-image: linear-gradient(-45deg, #767676 25%, transparent 25%, transparent 50%, #767676 50%, #767676 75%, transparent 75%, transparent);
  background-size: 50px 50px;
}
</style>

{{#js}}
require([
  	'local_coodle/add_todo_form','local_coodle/add_file', 'local_coodle/file'
	],
  	function(todoform,fileform,file
	) {
		todoform.init();
    fileform.init();
    file.init('files1-{{uniqid}}');
    file.init('files2-{{uniqid}}');
    file.init('files3-{{uniqid}}');
});
{{/js}}