{{!
  This file is part of Moodle - http://moodle.org/
  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="container coodle-dashboard">
  <div class="row">
    <div class="col-md-4 coodle-msg">
      <h3>{{ name }}</h3>
      <div>{{{widget}}}</div>
    </div>
    <div class="col-md-8 coodle-user">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">
          <h5 class="card-title">Termine
            <button
            class="btn btn-dark btn-primary-outline myuserbtn"
            data-action="local-coodle-add-date"
            data-clientid="{{ clientid }}"
          >
            <i
              class="fa fa-plus"
              aria-hidden="true"
              data-action="local-coodle-add-date"
              data-clientid="{{ clientid }}"
            ></i>
          </button>
          </h5>
          <ul>
            {{#events}}
            <li><b>{{timestart}}</b> - {{name}}</li>
            {{/events}}
          </ul>
        </div>
      </div>
      <div class="card card-todos text-white mb-4 coodle-dashboard">
        <div class="card-body">
          <h5 class="card-title">
            Aufgaben
            <button
              class="btn btn-dark btn-primary-outline myuserbtn"
              data-action="local-coodle-add-todo"
              data-clientid="{{ clientid }}"
            >
              <i
                class="fa fa-plus"
                aria-hidden="true"
                data-action="local-coodle-add-todo"
                data-clientid="{{ clientid }}"
              ></i>
            </button>
          </h5>
          <div class="bg-white">{{>local_coodle/todos}}</div>
        </div>
      </div>
      <div class="card card-docs text-white mb-4">
        <div class="card-body">
          <h5 class="card-title">
            Dokumente
            <button
              class="btn btn-dark myuserbtn"
              data-toggle="modal"
              data-target="#uploadForm"
              data-action="local-coodle-add-file"
              data-clientid="{{ clientid }}"
              data-doctype="1"
            >
              Upload File
            </button>
          </h5>
          <ul class="list-group" id="files1-{{ uniqid }}">
            {{#files.1}}
            {{>local_coodle/files}}
            {{/files.1}}
          </ul>
        </div>
      </div>
      <div class="card card-beratung text-white mb-4">
        <div class="card-body">
          <h5 class="card-title my-2">
            Beratung
            <button
              class="btn btn-dark pull-right"
              data-toggle="modal"
              data-target="#uploadForm"
              data-action="local-coodle-add-file"
              data-clientid="{{ clientid }}"
              data-doctype="3"
            >
            <i
            class="fa fa-file text-white"
            aria-hidden="true"
            data-action="local-coodle-add-file"
            data-clientid="{{ clientid }}"
          ></i>
            </button>
          </h5>
          <ul class="list-group mt-4" id="files3-{{ uniqid }}">
            {{#files.3}}
            {{>local_coodle/files}}
            {{/files.3}}
          </ul>

          <h5 class="card-title my-2">
            Info<button
              class="btn btn-dark btn-primary-outline pull-right"
              data-action="local-coodle-add-link"
              data-clientid="{{ clientid }}"
            >
              <i
                class="fa fa-link text-white"
                aria-hidden="true"
                data-action="local-coodle-add-link"
                data-clientid="{{ clientid }}"
              ></i>
            </button>
          </h5>
          <ul class='list-group mt-4'>
          {{#links}}
            <li class='list-group-item'>
              <a href='{{url}}'>{{text}}</a>
              <span
              class="pull-right"
              data-action="local-coodle-delete-link"
              data-id="{{ id }}"
            >
              <i
                class="fa fa-times fa-2x text-danger"
                aria-hidden="true"
                data-action="local-coodle-delete-link"
                data-id="{{ id }}"
              ></i>
            </span>
            </li>
          {{/links}}
          </ul>
        </div>
      </div>
      <div class="card card-direction text-white mb-4">
        <div class="card-body">
          <h5 class="card-title">Wegbeschreibungen<button
            class="btn btn-dark btn-primary-outline myuserbtn"
            data-action="local-coodle-add-direction"
            data-clientid="{{ clientid }}"
          >
            <i
              class="fa fa-plus text-white"
              aria-hidden="true"
              data-action="local-coodle-add-direction"
              data-clientid="{{ clientid }}"
            ></i>
          </button>
        </h5>
          {{#directions}}
          <div class="mt-4" data-type="direction">
          {{title}}
          <button
          class="btn btn-dark pull-right btn-primary-outline text-white ml-2"
          data-action="local-coodle-edit-direction"
          data-clientid="{{ clientid }}"
          data-directionid="{{ id }}"
        >
          <i
            class="fa fa-cog text-white"
            aria-hidden="true"
            data-action="local-coodle-edit-direction"
            data-clientid="{{ clientid }}"
            data-directionid="{{ id }}"
                      ></i></button>
          <button
          class="btn btn-dark pull-right btn-primary-outline text-white"
          data-action="local-coodle-delete-direction"
          data-id="{{ id }}"
        >
          <i
            class="fa fa-trash text-white"
            aria-hidden="true"
            data-action="local-coodle-delete-direction"
            data-clientid="{{ clientid }}"
            data-id="{{ id }}"
          ></i></button>
            {{{text}}}
          </div>
          {{/directions}}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card-docs {
    background-color: rgb(94, 160, 242);
  }
  .card-todos {
    background-color: rgb(238, 58, 47);
  }

  .card-info {
    background-color: rgb(251, 135, 66);
  }
  .card-beratung {
    background-color: rgb(33, 181, 98);
  }

  .card-direction {
    background-color: rgb(163, 96, 239);
  }
  .card-direction img {
    max-width: 100%;
    height: auto;
  }

  .coodle-msg .conversationcontainer,
  .coodle-msg [data-region="header-content"] {
    visibility: hidden !important;
    width: 0px;
    height: 0px;
  }
  .coodle-msg .container-fluid {
    max-width: 100%;
    padding: 0;
  }
  .coodle-msg .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .coodle-msg .border-bottom {
  }
  .coodle-msg .col-8.d-flex.flex-column {
    height: 100%;
  }

  .myuserbtn {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .linetrough {
    background-image: linear-gradient(
      -45deg,
      #767676 25%,
      transparent 25%,
      transparent 50%,
      #767676 50%,
      #767676 75%,
      transparent 75%,
      transparent
    );
    background-size: 50px 50px;
  }
</style>

{{#js}}
require([ 'local_coodle/form_add_todo','local_coodle/form_add_file',
'local_coodle/actions_file', 	'local_coodle/form_add_link', 'local_coodle/form_add_direction', 'local_coodle/actions_direction', 'local_coodle/actions_link'], function(todoform, fileform, file, links, directionform, directionactions, linkactions ) {
  directionform.init();
  directionactions.init();
  links.init();
  todoform.init();
  linkactions.init();
  fileform.init(); file.init('files1-{{ uniqid }}');
  file.init('files3-{{ uniqid }}'); }); {{/js}}
