{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="coodle-dashboard">
<table class="w-100">
	{{#todos}}
	<tr class="bg-light todos {{#deleted}} done {{/deleted}}" data-clientid="{{userid}}">
			<td colspan="1"><a href="/local/coodle/user.php?id={{userid}}">{{firstname}} {{lastname}}</a></td>
			<td class="text-dark" colspan="4">{{text}}</td>
			<td class="text-right td-coodle-checkbuttons">
				<button class="btn btn-primary-outline coodle-checkbutton" data-action="local-coodle-todo-{{^done}}check{{/done}}{{#done}}uncheck{{/done}}" data-id="{{id}}">
				{{^done}}
				<i class="fa fa-check-square-o fa-2x text-success " aria-hidden="true" data-action="local-coodle-todo-check" data-id="{{id}}"></i>
				{{/done}}
				{{#done}}
				<i class="fa fa-play fa-2x text-danger" aria-hidden="true" data-action="local-coodle-todo-uncheck" data-id="{{id}}"></i>
				{{/done}}

				</button>
				<button class="btn btn-primary-outline" data-action="local-coodle-todo-delete" data-id="{{id}}" >
				<i class="fa fa-times fa-2x text-danger" aria-hidden="true" data-action="local-coodle-todo-delete" data-id="{{id}}"></i>
				</button>
			</td>
		</tr>
	{{/todos}}
</table>
</div>

<style>
	.coodle-dashboard .todos td{
		color: #161616;

	}
	[name="todotext"] {
		width: 90% !important;
	}
	.qrcode {
		border: 10px solid #fff;
		background: #fff;
	}
	td, th {
		padding: 20px;
	}
	.done {
		opacity: 0.3;
	}
</style>

{{#js}}
require([
	'local_coodle/actions_todo'],
  	function(todo) {
		todo.init();
});
{{/js}}
